<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>4S店</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet"
          href="https://houtai.baidu.com/v2/csssdk">
    <style>
        html, body, .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="root" class="app-wrapper"></div>
<script src="https://houtai.baidu.com/v2/jssdk"></script>
<script type="text/javascript">
    (function() {
        var amis = amisRequire('amis/embed');
        amis.embed(
            '#root', {
                "$schema": "https://houtai.baidu.com/v2/schemas/page.json#",
                "type": "page",
                "title": "已购车用户",
                "body": [
                    {
                        "type": "crud",
                        "api": "http://localhost:8080/buyCarList",
                        "columns": [
                            {
                                "name": "id",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "label": "真实名"
                            },
                            {
                                "name": "phone",
                                "label": "真实电话"
                            },
                            {
                                "name": "cexin",
                                "label": "车型"
                            },
                            {
                                "name": "date",
                                "label": "购车时间"
                            },
                            {
                                "name": "money",
                                "label": "已付款金额"
                            },
                            {
                                "type": "button",
                                "icon": "fa fa-pencil",
                                "actionType": "dialog",
                                "dialog": {
                                    "title": "编辑",
                                    "body": {
                                        "type": "form",
                                        "title": "汽车购买表单填写",
                                        "controls": [
                                            {
                                                "label": "用户名",
                                                "type": "text",
                                                "name": "name",
                                                "required": true
                                            },
                                            {
                                                "label": "电话",
                                                "type": "text",
                                                "name": "phone",
                                                "required": true
                                            },
                                            {
                                                "label": "车型",
                                                "type": "text",
                                                "name": "cexin",
                                                "required": true
                                            },
                                            {
                                                "$schema": "https://houtai.baidu.com/v2/schemas/form/date.json#",
                                                "label": "时间",
                                                "type": "date",
                                                "name": "time",
                                                "minDate": "now",
                                                "value": "now",
                                                "required": true,
                                                "format": "YYYY-MM-DD"
                                            },
                                            {
                                                "label": "金额",
                                                "type": "text",
                                                "name": "money",
                                                "required": true
                                            }
                                        ],
                                        "api": "http://localhost:8080/buyCarUpdate?id=${id}&name=${name}&cexin=${cexin}&phone=${phone}&time=${time}&money=${money}"
                                    }
                                },
                                "level": "success",
                                "label": "更新操作"
                            },
                            {
                                "type": "button",
                                "icon": "fa fa-times text-danger",
                                "actionType": "ajax",
                                "confirmText": "您确认要删除?",
                                "api": "http://localhost:8080/buyCarDelete?id=${id}",
                                "label": "删除操作"
                            }
                        ]
                    }
                ]
            }
        );
    })();
</script>
</body>
</html>