<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>4S店</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet"
          href="https://houtai.baidu.com/v2/csssdk">
    <style>
        html, body, .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="root" class="app-wrapper"></div>
<script src="https://houtai.baidu.com/v2/jssdk"></script>
<script type="text/javascript">
    (function() {
        var amis = amisRequire('amis/embed');
        amis.embed(
            '#root', {
                "$schema": "https://houtai.baidu.com/v2/schemas/page.json#",
                "type": "page",
                "title": "汽车4S店登陆页面",
                "body": [
                    {
                        "type": "form",
                        "title": "",
                        "controls": [
                            {
                                "type": "carousel",
                                "controlsTheme": "dark",
                                "height": "300",
                                "options": [
                                    {
                                        "image": "http://img1.gtimg.com/auto/pics/hv1/8/67/1681/109324118.jpg",
                                        "title": ""
                                    },
                                    {
                                        "image": "http://dealer2.autoimg.cn/dealerdfs/g24/M06/C0/64/autohomedealer__wKgHIVqx9seALGQ0ABa5PMgqqOE274.jpg"
                                    },
                                    {
                                        "image": "http://e0.ifengimg.com/12/2019/0311/59CA6DF6C454EAE058A808865BD8462A0B3CD6E4_size873_w3136_h2352.jpeg"
                                    },
                                    {
                                        "image": "http://img.zx123.cn/Resources/zx123cn/uploadfile/2016/0815/31c9a6bcc8a79ce4bfec5a7b3c27e70e.jpg"
                                    }
                                ],
                                "interval": 4000,
                                "duration": 500,
                                "animation": "slide",
                                "controls": "dots,arrows",
                                "auto": true
                            },
                            {
                                "type": "divider"
                            },
                            {
                                "type": "group",
                                "controls": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "label": "用户名",
                                        "type": "text",
                                        "name": "yname",
                                        "required": true
                                    },
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "label": "用户密码",
                                        "type": "text",
                                        "name": "password",
                                        "required": true
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ]
                            }
                        ],
                        "actions": [
                            {
                                "type": "button",
                                "label": "注册",
                                "actionType": "dialog",
                                "dialog": {
                                    "title": "新用户注册",
                                    "body": [
                                        {
                                            "type": "form",
                                            "title": "表单",
                                            "api": "http://localhost:8080/userSave?yname=${yname}&password=${password}&name=${name}&phone=${phone}",
                                            "controls": [
                                                {
                                                    "type": "group",
                                                    "controls": [
                                                        {
                                                            "label": "用户名",
                                                            "type": "text",
                                                            "name": "yname",
                                                            "required": true
                                                        },
                                                        {
                                                            "label": "用户密码",
                                                            "type": "text",
                                                            "name": "password",
                                                            "required": true
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "divider"
                                                },
                                                {
                                                    "type": "group",
                                                    "controls": [
                                                        {
                                                            "label": "真实姓名",
                                                            "type": "text",
                                                            "name": "name",
                                                            "required": true
                                                        },
                                                        {
                                                            "label": "用户电话",
                                                            "type": "text",
                                                            "name": "phone",
                                                            "required": true
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ],
                                    "type": "dialog",
                                    "size": "lg",
                                    "closeOnEsc": true,
                                    "showCloseButton": true
                                },
                                "level": "success"
                            },
                            {
                                "type": "submit",
                                "label": "提交",
                                "level": "primary"
                            }
                        ],
                        "wrapWithPanel": true
                    }
                ]
            }
        );
    })();
</script>
</body>
</html>